# Cases
# 32x32x32 orders=5,6,7,8
# 64x64x64 orders=4,5
# vtu files: only required for 64x64x64 order=5 case
# KE.txt: required for all cases. should be renamed before each run

[FORMAT]
2.0

[DATA FILE]
data/bnsTGV3D.h

[MESH FILE]
BOX

[MESH DIMENSION]
3

[ELEMENT TYPE] # number of edges
12

[BOX GLOBAL NX]
32

[BOX GLOBAL NY]
32

[BOX GLOBAL NZ]
32

[BOX DIMX]
6.28318530718

[BOX DIMY]
6.28318530718

[BOX DIMZ]
6.28318530718

[BOX BOUNDARY FLAG]
-1

[POLYNOMIAL DEGREE]
4

[THREAD MODEL]
CUDA

[PLATFORM NUMBER]
0

[DEVICE NUMBER]
0

[VISCOSITY]
0.000625

[SPEED OF SOUND]
10.0

[PML PROFILE ORDER]
4

[PML SIGMAX MAX]
50

[PML SIGMAY MAX]
50

[PML INTEGRATION]
COLLOCATION

[TIME INTEGRATOR]
SARK4

[START TIME]
0

[FINAL TIME]
20

[OUTPUT INTERVAL]
0.01

[OUTPUT TO FILE]
TRUE

[OUTPUT FILE NAME]
bns

