[FORMAT]
2.0

[DATA FILE]
data/bnsTGV2D.h

[MESH FILE]
BOX

[MESH DIMENSION]
2

[ELEMENT TYPE] # number of edges
4

[BOX NX]
32

[BOX NY]
32

[BOX NZ]
32

[BOX DIMX]
6.28318530718

[BOX DIMY]
6.28318530718

[BOX BOUNDARY FLAG]
-1

[POLYNOMIAL DEGREE]
2

[THREAD MODEL]
CUDA

[PLATFORM NUMBER]
0

[DEVICE NUMBER]
0

[VISCOSITY]
0.000625

[SPEED OF SOUND]
10.0

[PML PROFILE ORDER]
4

[PML SIGMAX MAX]
50

[PML SIGMAY MAX]
50

[PML INTEGRATION]
COLLOCATION

[TIME INTEGRATOR]
SARK4

[START TIME]
0

[FINAL TIME]
500

[OUTPUT INTERVAL]
1

[OUTPUT TO FILE]
TRUE

[OUTPUT FILE NAME]
bns

