[FORMAT]
2.0

[DATA FILE]
data/bnsUniform2D_SC.h

[MESH FILE]
../../meshes/boltzmannSquareCylinderPMLStructuredQuad2D_largeuniform.msh

[MESH DIMENSION]
2

[ELEMENT TYPE] # number of edges
4

#[BOX NX]
#20

#[BOX NY]
#20

#[BOX NZ]
#20

#[BOX BOUNDARY FLAG]
#1

[POLYNOMIAL DEGREE]
2

[THREAD MODEL]
CUDA

[PLATFORM NUMBER]
0

[DEVICE NUMBER]
0

[VISCOSITY]
0.000005

[SPEED OF SOUND]
1.0

[PML PROFILE ORDER]
4

[PML SIGMAX MAX]
50

[PML SIGMAY MAX]
50

[PML INTEGRATION]
CUBATURE

[TIME INTEGRATOR]
SARK4

[START TIME]
0

[FINAL TIME]
1440

[OUTPUT INTERVAL]
1

[OUTPUT TO FILE]
TRUE

[OUTPUT FILE NAME]
/media/onur/Elements/ONUR/SquareCylinder_Bns_Outputs/Quad/bns
#bns

