[FORMAT]
2.0

[DATA FILE]
data/bnsTGV3D.h

[MESH FILE]
BOX

[MESH DIMENSION]
3

[ELEMENT TYPE] # number of edges
12

[BOX NX]
24

[BOX NY]
24

[BOX NZ]
24

[BOX DIMX]
6.28318530718

[BOX DIMY]
6.28318530718

[BOX DIMZ]
6.28318530718

[BOX BOUNDARY FLAG]
-1

[POLYNOMIAL DEGREE]
4

[THREAD MODEL]
CUDA

[PLATFORM NUMBER]
0

[DEVICE NUMBER]
0

[VISCOSITY]
0.000625

[SPEED OF SOUND]
10.0

[PML PROFILE ORDER]
4

[PML SIGMAX MAX]
50

[PML SIGMAY MAX]
50

[PML INTEGRATION]
COLLOCATION

[TIME INTEGRATOR]
SARK4

[START TIME]
0

[FINAL TIME]
20

[OUTPUT INTERVAL]
0.01

[OUTPUT TO FILE]
TRUE

[OUTPUT FILE NAME]
bns

